.flex-container {
     display: flex; 
     flex-direction: row; 
     justify-content: space-around; 
     flex-wrap: wrap; 
     align-content: flex-start;
}
.flex-item {
    margin-top: 30px;
    width: 40%;
    height: 40px;
    font-size: 18px;
}
.field {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    color: darkgrey;
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    align-content: flex-start;
    margin: 10px 0px;
}
.flex-label {
    min-width: 14%;
    max-width: 30%;
    padding: 8px 0px;
    display: block;
    height: 40px;
}
.flex-input {
    max-width: 83%;
    min-width: 67%;
    display: block;
    height: 40px;
    font-size: 15px;
    padding-left: 7px;
    color: rgb(100,100,100);
    transition: border 300ms ease-in-out;
}
.flex-input:focus {
    outline: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(65, 12, 107);
}
.btn-file {
    background: none;
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    transition: background 300ms ease-in-out,
                color 300ms ease-in-out;
}
button.btn-file:hover {
    background: rgb(65, 12, 107);
    border-color: rgb(65, 12, 107);
    color: rgb(240, 240, 240);
    border-width: 0px;
}
button, a {
    border-radius: 0px;
}